<!-- main app container -->
<app-nav></app-nav>
<div class="container-fluid p-0">
    <router-outlet></router-outlet>
    <app-about></app-about>
    <app-experience></app-experience>
    <app-education></app-education>
    <app-skills></app-skills>
    <app-interests></app-interests>
    <app-awards></app-awards>
    
</div>


<!-- credits -->
<!-- <div class="text-center">
  <p>
      <a href="http://jasonwatmore.com/post/2016/08/16/angular-2-jwt-authentication-example-tutorial" target="_top">Angular 2 JWT Authentication Example & Tutorial</a>
  </p>
  <p>
      <a href="http://jasonwatmore.com" target="_top">JasonWatmore.com</a>
  </p>
</div> -->